/* Base styles for all buttons */
button {
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: blue; /* Default background color */
}

button:hover {
    background-color: darkred;
}

/* Specific styles for each button */
button:nth-of-type(1) {
    background-color: blue;
}

button:nth-of-type(2) {
    background-color: green;
}

button:nth-of-type(3) {
    background-color: red;
}

.stButton > button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.stButton > button:hover {
    background-color: darkred;
}

/* Remove the default form button style */
.stForm button {
    background-color: blue;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stForm button:hover {
    background-color: #8b0000;
}

/* Custom styles for number input buttons */
.stNumberInput button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.stNumberInput button:hover {
    background-color: darkred;
}

/* Custom styles for selectbox and multiselect options */
.stSelectbox select, .stMultiselect select {
    background-color: #ffffff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}

/* Custom styles for selected options */
.stMultiselect div div {
    background-color: #fdd2d2 !important;
    color: white !important;
    border-radius: 5px;
    padding: 5px;
}

/* Estilo específico para o file uploader */
.file-uploader {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.file-uploader .file-input {
    display: none;
}

.file-uploader .file-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.file-uploader .file-upload-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-uploader .file-upload-button:hover {
    background-color: #2980b9;
}